.jobitem {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.jobitem__logo {
    width: 5rem;
    margin-right: 1rem;
}

.jobitem__taglist {
    display: flex;
}

.jobitem__taglist {
    margin-left: auto;
}
