.jobitem__tagitem {
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    padding: 0.4rem;
    margin: 0.3rem;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
}
